html,
body {
  height: 100%;
}

body {
  background-image: url("../img/user/download.jpg");
  background-size: 208% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: backgroundmove 40s infinite;
  position: relative;
}

body #login {
  width: 300px;
  padding: 30px;
  background: #ddd;
  background-color: rgba(221, 221, 221, 0.3);
  border-radius: 10px;
  position: absolute;
  left: 61.8%;
  bottom: 61.8%;
  transform: translateY(50%);
}

body #login h2 {
  padding: 20px;
  text-align: center;
}

body #login > h2 {
  color: #fff;
}

body #login > form label {
  color: #fff;
}

body #login > form input {
  width: 100%;
}

body #login > form input:nth-of-type(2) {
  width: 50%;
}

body #login #change-reg {
  color: #fff;
}

body #register {
  width: 300px;
  padding: 30px;
  background: #ddd;
  background-color: rgba(221, 221, 221, 0.3);
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 61.8%;
  bottom: 61.8%;
  transform: translateY(50%);
}

body #register h2 {
  padding: 20px;
  text-align: center;
}

body #register > h2 {
  color: #fff;
}

body #register > form label {
  color: #fff;
}

body #register > form input {
  width: 100%;
}

body #register > form input:nth-of-type(2) {
  width: 50%;
}

body #register #change-log {
  color: #fff;
}

@keyframes backgroundmove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
