.bg-skyblue {
  background: #007Bff;
}

.active {
  background: #0066CC;
}

.layui-btn {
  background: #007Bff !important;
  color: #fff !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background: #007Bff !important;
}

.layui-form-checked[lay-skin=primary] i {
  border-color: #007Bff !important;
  background-color: #007Bff !important;
  color: #fff;
}

.layui-table th {
  text-align: center !important;
}

#addmsg2, #addmsg3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#addmsg2 > div, #addmsg3 > div {
  width: 50%;
  margin: 20px auto;
}

#addmsg2 > button, #addmsg3 > button {
  width: 50%;
  margin: 0 auto;
}

body .pos-f-t .text-muted {
  color: #fff !important;
}

body .pos-f-t .navbar {
  justify-content: left;
}

body .pos-f-t nav #lists {
  width: 80%;
  height: 100%;
  float: left;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

body .pos-f-t nav #lists > span {
  display: block;
  height: 100%;
  padding: 10px;
  flex: 1;
  text-align: center;
  border-radius: .25rem;
  cursor: pointer;
}

body .pos-f-t nav #lists > span:hover {
  background: #0066CC !important;
}

body .pos-f-t .main {
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  position: relative;
}

body .pos-f-t .main h5 {
  padding: 30px;
  color: #0066cc;
  font-weight: 700;
}

body .pos-f-t .main > div {
  position: absolute;
  left: 38.2%;
  top: 0;
  transform: translateX(-50%);
  display: none;
  text-align: center;
}

body .pos-f-t .main #addmsg {
  width: 100%;
  height: 70px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 900;
}
